{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   


            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Lyrics Emotion Detection </h4>
                <p class="card-category"></p>
              </div>
              <div class="card-body">
                <div id="typography">
                  <div class="card-title">
                    <h2>Lyrics Emotion Detection</h2>
                  </div>
                  <div class="row">
                    <div class="col-md-6">

                        <form id="emotion-form"   class="forms-sample">
              
              
                              <div class="form-group">
                                <label class="bmd-label-floating"> Write here the lyrics' song</label>
                                <textarea class="form-control" id="lyrics" rows="5"></textarea>
                              </div>
                              <a  class="btn btn-primary btn-round" onclick='$("#emotion-form").submit(update_suggestions())'  style="color:white">Get the emotion</a>
              
              
                        <form>
                        </div>

                    </div>


                    </div>
                  </div>
                </div>
            </div>
 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
 <script>








        function activate(elem) {
          var x = document.getElementById(elem);
          x.disabled = false

        }

        function disable(elem) {
          var x = document.getElementById(elem);
          x.disabled = true


        }

        function hide(elem) {
          var x = document.getElementById(elem);
          x.style.display = "none";
        }

        function show(elem) {
          var x = document.getElementById(elem);
          x.style.display = "block";
        }

        function update_suggestions()
        {

         var lyrics = document.getElementById('lyrics')
         var lyrics_value = lyrics.value;


         console.log("URL:")
         console.log("get/ajax/get_emotion/"+lyrics_value)

         $.ajax({
           type: 'GET',
           // get/ajax/fore-bench/ 'code=' + code + '&userid=' + userid
           url: "get/ajax/get_emotion/"+lyrics_value,
           data: "",
           success: function (response) {

             console.log("ENTER RESPONSE")
             _err = response["errors"]
             console.log("ACK: "+_err)
             if(_err=="no")
             {


               console.log("OK")

             }

             else {
                  console.log(":(((")


             }




           },
           error: function (response) {
             // alert the error if any error occured






           }
         })
       }
        
       

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
